/* TODO: Example 06 (Activity 7) CSS goes here */

//variables

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

//imports
@import "variables";
@import "button";
@import "alert";
